/* 主题颜色 */
$lv-theme-color: #05B4C4;
$lv-theme-color-plain: #ADE0E4;
/* 边框颜色 */
$lv-border-color:#E7E7E7;

/* 行为相关颜色 */
$lv-color-primary: #007aff;
$lv-color-primary-plain: #ecf5ff;
$lv-color-success: #4cd964;
$lv-color-success-plain: #dbf1e1;
$lv-color-warning: #f0ad4e;
$lv-color-warning-plain: #fdf6ec;
$lv-color-error: #dd524d;
$lv-color-error-plain: #fef0f0;
