.w-picker-flex2{
	flex:2;
}
.w-picker-flex1{
	flex:1;
}
.w-picker-view {
	/* #ifdef APP-NVUE */
	flex: 1;
	/* #endif */
	/* #ifndef APP-NVUE */
	width: 100%;
	/* #endif */
	height: 476upx;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 1);
	z-index: 666;
}
.d-picker-view{
	height: 100%;
}

.w-picker-item {
	/* #ifdef APP-NVUE */
	flex: 1;
	align-items: center;
	justify-content: center;
	/* #endif */
	/* #ifndef APP-NVUE */
	text-align: center;
	width: 100%;
	/* #endif */
  height: 88upx;
  line-height: 88upx;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 30upx;
}